<section>

<div id="content"
 class="container-fluid alignverticalcenter animate__animated animate__fadeInLeftBig animate__delay-0.005s"
  >
 
    <div  class="row">
            <div class="col-md-4 alignverticalcenter"   >
                        <img src="assets/image/birthday.png" class="img-responsive img" alt="birthday party">
             </div>
            <div class="col-md-8 text-center text-white" >
                    <h3>KIDS PARTY PACKAGE </h3>
                    <p>We feature a full assortment of birthday party packages, options and add-ons that are sure to impress boys and girls of all ages. Aerosports Oakville – Mississauga hosts 4 party rooms as well as a large corporate room that fits up to 175 guests.</p>
                        <p>Our birthday party guests love Aerosports aerial experience and incredible park features! We’ve recently added Canada’s largest Ninja Warrior Course and a fantastic Climb + Slide Kid Zone. Check them out below!</p>
                    <p>Best of all, our trained party staff make it a complete breeze for parents and ensure our guests are always following our safety rules. Parents and supervision can choose to jump or relax in our comfortable perimeter wifi lounges.                        
                        With all this, there’s no wonder we are one the best birthday party places in the ONTARIO!</p>
                    
                <p><a routerLink="../kids-birthday-parties" class="sigma_btn-custom">Learn More</a></p>
            </div>
        </div>
    </div>
</section>