<div class="section section-padding pt-0">
  <div class="container">
    <div class="section-title text-center">
      <h4 class="title">{{ currentPage.desc }}</h4>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let item of currentPage.children | slice : 0 : 10"
      >
        <div class="sigma_service style-3">
          <!-- <div class="sigma_service-thumb">
                        <i [class]="item.icon"></i>
                    </div>-->
          <div>
            <a
              routerLink="/{{ commonService.location }}/{{ pagetype }}/{{
                item.path
              }}"
            >
              <img src="{{ item.smallimage }}" alt="#" class="img-responsive"
            /></a>
          </div>
          <div class="sigma_service-body">
            <h5>{{ item.desc }}</h5>
            <p>{{ item.smalltext }}</p>
            <a
              routerLink="/{{ commonService.location }}/{{ pagetype }}/{{
                item.path
              }}"
              class="btn-link"
            >
              Read More <i class="far fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
