<!-- The header should be empty no menu for this. -->
        
          

<div class="section section-padding pt-0 diagonal-hero-bg">
    <div class="stars">
        <div class="small"></div>
        <div class="medium"></div>
        <div class="big"></div>

      
    <div class="container" >
        <div class="row"><div class="stroke-text text-left mb-3"><img src="/assets/image/logo/logo_white.png"></div></div>
        <!--<div class="stroke-text text-center mb-3 animate__animated animate__fadeInLeftBig animate__delay-0.1s">-->
            <div class="stroke-text text-center">
            <h1>ONE PASS MORE FUN</h1>
        </div>
        <div class="row animate__animated animate__fadeInRightBig animate__delay-0.1s">
            <div class="col-lg-3 col-md-6" *ngFor="let item of commonService.locations">
                <div class="p-2 text-center mb-3 inside">
                    <div>
                        <a (click)="onLocationClick(item.locations)" class="btn-link">
                            <img src="{{item.smallimage}}" alt="#" class="img-responsive">
                        </a>
                    </div>
                    <div>
                        <h5 style="color:white ;" >{{item.desc}}</h5>
                        <p style="color:white ;">{{item.phone}}</p><p>{{item.address}} </p>
                        
                        <a (click)="onLocationClick(item.locations)" class="btn-link sigma_btn-custom">SELECT THIS PARK <i class="far fa-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="stroke-text text-center mb-5">&nbsp;</div></div>
        
    </div>
</div>
</div>
