  img {
   height: 120px;     
   margin-top: 20px;
  }
  .card {
    
    width: 150px;
    height: 180px;
    background-color: transparent;
    display: flex;
    justify-content: center;flex-direction: column; align-items: center;
   
   /*         transform: rotateY(50deg);*/
    box-shadow: -6px 5px 13px 2px rgba(0, 0, 0, 0.25);
   transition: all 1s ease;
    color: transparent;
    margin-top: 50px;
  }
  .card:hover {
    width: 150px;
    height: 180px;
   /* opacity: 0.3;
    transform: rotateY(0deg); 
    box-shadow: 0px 0px 36px 2px rgba(0, 0, 0, 0.25);*/
    
    box-shadow: -6px 5px 13px 2px  #489bc7;
    
  }
  .card:hover p {
    
  }
  p.desc {
    position:relative;
    padding: 10px;
    text-decoration: solid;
    text-align: center;
  }
  p.desc:hover {
  }

  