<div class="container-fluid animate__animated animate__fadeInLeftBig animate__delay-0.1s" >
    <div class="row" >
        <div class="col-md-12 text-center" >
            <h4>There is so much to do at aerosports!</h4>
            <p >Every park feature and all the fun includes in your Aerosports hourly or multi visit pass. Prepare 
                yourself to fly over our huge trampoline areas. duck and dive through extreme dodgeball and dunk your heart out in the slam zone.
            </p>
        </div>
    </div>
    <div class="row">
      <ul  *ngFor="let item of currentPage.children">
        
        <div class="coll-2 cardholder" style="padding-left:30px ;" *ngIf="item.icon!=''">
          <div class="card">
              
            <a routerLink="/{{commonService.location}}/{{pagetype}}/{{item.path}}" > 
                 <img   src="{{item.icon}}" alt="#">
                 <p class="desc"><b>{{item.desc}}</b></p>
            
            </a>
          </div>
        </div>
      </ul>          
    </div>
  </div>
  