<footer class="sigma_footer style-5 sigma_footer-dark pattern-squares pb-0">
    <div class="sigma_footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sigma_footer-widget">
                        <div class="sigma_footer-logo mb-4">
                            <img src="assets/img/logo.png" alt="logo">
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="mb-0">Our next match is a home game of Onyx Yellow vs Tuskers on Sunday, 14th of October.</p>
                            </div>
                        </div>
                        <ul class="sigma_sm square mt-4 justify-content-start">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Services</h5>
                        <ul class="sigma_footer-links">
                            <li *ngFor="let item of service">
                                <a routerLink="/service-details/{{item.id}}">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Company</h5>
                        <ul class="sigma_footer-links">
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/about">About</a>
                            </li>
                            <li>
                                <a routerLink="/blog">Blog</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contacts</a>
                            </li>
                            <li>
                                <a routerLink="/case-study">Cases</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Latest News</h5>
                        <div class="widget widget-recent-posts">
                            <article class="sigma_recent-post" *ngFor="let item of recentPost() | slice:0:2">
                                <a routerLink="/blog-details/{{item.id}}"><img [src]="item.image[0]" [alt]="item.title"></a>
                                <div class="sigma_recent-post-body">
                                    <a routerLink="/blog-details/{{item.id}}"> <i class="far fa-calendar"></i> {{item.postdate}}</a>
                                    <h6> <a routerLink="/blog-details/{{item.id}}">{{item.title}}</a> </h6>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sigma_footer-bottom mt-0 d-block d-sm-flex align-items-center justify-content-between">
            <div class="sigma_footer-copyright mt-0 mb-3 mb-sm-0">
                <p class="mb-0"> &copy; Website -
                    <a href="#">2021</a>
                </p>
            </div>
            <ul class="sigma_footer-links">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Sitemap</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</footer>