<div class="sigma_logo-wrapper">
    <a class="sigma_logo" routerLink="/">
        <img src="assets/image/logo/logo.png" alt="logo">
    </a>
</div>
<!-- Menu -->
<ul class="navbar-nav">
    <li class="menu-item" 
    *ngFor="let item of navigation">
       <a href="javascript:void(0)" (click)="trigger(item)" >{{item.desc}}</a>
        
       
        <ul class="sub-menu"  [ngClass]="item.open ? 'd-block' : ''">
            <a routerLink="/{{commonService.location}}/{{item.path}}" >{{item.desc}}</a>   
            <li class="menu-item" [ngClass]="hasChildren(citem) ? 'menu-item-has-children' : ''"
            *ngFor="let citem of item.children">
            <a href="javascript:void(0)" *ngIf="hasChildren(citem)">{{citem.desc}}</a>
            <a routerLink="/{{commonService.location}}/{{item.path}}/{{citem.path}}" *ngIf="!hasChildren(citem)">{{citem.desc}}</a>
        
            </li>
        </ul>
    </li>
</ul>
