@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?76f3103bf73a172e44188fec30b69429") format("truetype"),
url("./flaticon.woff?76f3103bf73a172e44188fec30b69429") format("woff"),
url("./flaticon.woff2?76f3103bf73a172e44188fec30b69429") format("woff2"),
url("./flaticon.eot?76f3103bf73a172e44188fec30b69429#iefix") format("embedded-opentype"),
url("./flaticon.svg?76f3103bf73a172e44188fec30b69429#flaticon") format("svg");
}

i[class^="flaticon-"]:before, 
i[class*=" flaticon-"]:before,
span[class^="flaticon-"]:before, 
span[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-appointment:before {
    content: "\f101";
}
.flaticon-award:before {
    content: "\f102";
}
.flaticon-beach-volleyball-1:before {
    content: "\f103";
}
.flaticon-beach-volleyball:before {
    content: "\f104";
}
.flaticon-competition:before {
    content: "\f105";
}
.flaticon-diamond:before {
    content: "\f106";
}
.flaticon-email:before {
    content: "\f107";
}
.flaticon-headphones:before {
    content: "\f108";
}
.flaticon-mail:before {
    content: "\f109";
}
.flaticon-message:before {
    content: "\f10a";
}
.flaticon-pay:before {
    content: "\f10b";
}
.flaticon-right-quote:before {
    content: "\f10c";
}
.flaticon-search:before {
    content: "\f10d";
}
.flaticon-security:before {
    content: "\f10e";
}
.flaticon-select:before {
    content: "\f10f";
}
.flaticon-shopping-bag:before {
    content: "\f110";
}
.flaticon-speed:before {
    content: "\f111";
}
.flaticon-target:before {
    content: "\f112";
}
.flaticon-telephone:before {
    content: "\f113";
}
.flaticon-trophy:before {
    content: "\f114";
}
.flaticon-volleyball-1:before {
    content: "\f115";
}
.flaticon-volleyball-2:before {
    content: "\f116";
}
.flaticon-volleyball-court:before {
    content: "\f117";
}
.flaticon-volleyball-player:before {
    content: "\f118";
}
.flaticon-volleyball:before {
    content: "\f119";
}
