<app-header [layout]="headerStyle"></app-header>

<app-contact-form></app-contact-form>

<style>
  .panel-footer {
  display: flex;
  justify-content: space-between;  
  background-color: #2874fc !important;
  
}

</style>

<div>
    <span style="margin-left: 5%; text-align: center;">    
      
            <h1 style="line-height: 1.0;">Aerosports</h1>
            <h3 style="line-height: 1.0;">OAKVILLE – MISSISSAUGA</h3>
            <p>2679 Bristol Circle, Unit 2&amp;3<br> Oakville, ON L6H 6Z8<br> Canada</p>
            <p>Tel:&nbsp;<a href="tel:19058292989">
                <span class="extra-color-1">+1-905-829-2989</span>
            </a>   
          </p>  
       
        </span>
        <span><app-map></app-map></span>
      </div>     


<app-footer [layout]="footerStyle"></app-footer>