<div class="section section-padding pt-0">
    <div class="container">
        <div class="section-title text-center">
            
            <h4 class="title">{{mainTitle}}</h4>
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-6" *ngFor="let item of list | slice:0:10">
                <div class="sigma_service style-3">
                  
                    <div>
                        <img src="{{item.smallimage}}" alt="#" class="img-responsive">
                    </div>
                    <div class="sigma_service-body">
                        <h5>{{item.title}}</h5>
                        <p>{{item.smalltext}} </p>
                        <a (click)="onReadMoreLink(item)" class="btn-link"> Read More <i class="far fa-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 