<div class="section" *ngFor="let item of casedetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- Categories Start -->
                    <div class="sidebar-widget widget-categories">
                        <ul class="sidebar-widget-list">
                            <li *ngFor="let data of caseblock"> <a routerLink="/case-studies/{{data.id}}">
                                    {{data.title}} <span> <i class="far fa-plus"></i> </span> </a> </li>
                        </ul>
                    </div>
                    <!-- Categories End -->
                    <!-- About Author Start -->
                    <div class="sidebar-widget widget-about-author" *ngFor="let author of getAuthor(item.author)">
                        <div class="widget-about-author-inner">
                            <img [src]="author.img" [alt]="author.name">
                            <div class="widget-about-author-body">
                                <h5>{{author.name}}</h5>
                                <p>{{author.designation}}</p>
                                <ul class="sigma_sm">
                                    <li *ngFor="let social of author.social">
                                        <a routerLink="{{social.url}}" [title]="social.title"> <i
                                                [class]="social.icon"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- About Author End -->
                    <!-- Files Start -->
                    <div class="sidebar-widget widget-files">
                        <h5 class="widget-title text-white"> Brochures </h5>
                        <a href="#" class="d-block sigma_btn-custom" download="download.pdf"> <i
                                class="far fa-file-pdf mr-2"></i> Brochure</a>
                        <a href="#" class="mt-4 d-block sigma_btn-custom" download="download.pdf"> <i
                                class="far fa-file mr-2"></i> Brochure</a>
                    </div>
                    <!-- Files End -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="entry-content">
                    <div class="sigma_portfolio-details">
                        <div class="sigma_portfolio-details-item">
                            <span>{{item.eventdate}}</span>
                            <h5>Case Date</h5>
                        </div>
                        <div class="sigma_portfolio-details-item" *ngFor="let author of getAuthor(item.author)">
                            <span>{{author.designation}}</span>
                            <h5>{{author.name}}</h5>
                        </div>
                        <div class="sigma_portfolio-details-item">
                            <span>Category</span>
                            <h5 *ngFor="let cat of getCategories(item.category) | slice:0:1">{{cat.title}}</h5>
                        </div>
                    </div>
                    <h3>{{item.title}}</h3>
                    <div [innerHtml]="item.htmldesc"></div>
                </div>
            </div>
        </div>
    </div>
</div>