<app-header></app-header>
<!--<app-about-text></app-about-text>-->
<app-plans [pagetype]="attractionCompType"></app-plans>
<app-funckySection></app-funckySection>
<!--<app-about-us></app-about-us>-->
<!--<app-services [pagetype]="attractionCompType"></app-services>-->
<!--app-brands></app-brands>-->

<!--<app-case></app-case>
<app-process></app-process>
<app-team></app-team>
<app-testimonials></app-testimonials>-->
<app-blog-post></app-blog-post>
<app-counter></app-counter>
<app-footer [layout]="footerStyle"></app-footer>