<app-header></app-header>

<app-contact *ngIf="page.path=='contact-us'" ></app-contact>


<section>          


<div class="container" *ngIf="page.path!='contact-us'" >
<br/><br/>
<div class="text-center" [innerHTML]="page.section1"></div>
<br/><br/>
</div>
    <div id="parkrules" class="container">
        <div *ngIf="page.ruleyes!=''">
        <h5><i>{{page.desc}} Rules</i></h5>
        <h6>Always</h6>
        <ul style="list-style-type:circle">
            <li *ngFor="let item of page.ruleyes.split(';')"><div [innerHTML]="item"></div></li>
        </ul>
        </div>
        <div *ngIf="page.ruleno!=''">
        
        <h6>DO NOT</h6>
        <ul style="list-style-type:circle">
            <li *ngFor="let item of page.ruleno.split(';')"><div [innerHTML]="item"></div></li>
        </ul>
        </div>
        <div *ngIf="page.warnings!=''">
        <h6>WARNINGS</h6>
        <ul style="list-style-type:circle">
            <li *ngFor="let item of page.warnings.split(';')"><div [innerHTML]="item"></div></li>
        </ul>
       </div>
</div>
</section>
<app-footer [layout]="footerStyle"></app-footer>
