<app-header></app-header>
<ngx-slick-carousel #slickModal="slick-carousel" [config]="settings"
class="carousel"
                        *ngIf="page.headerimage.split(',') != [] ">
                        <div ngxSlickItem class="slide" *ngFor="let image of page.headerimage.split(',')">
                            <img [src]="image" [alt]="image">
                        </div>
                    </ngx-slick-carousel>
              
<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;" [innerHTML]="page.section1"></div>


<app-footer [layout]="footerStyle"></app-footer>
