<div class="section">
    <div class="container-fluid">
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="portfolio-slider">
            <div ngxSlickItem class="sigma_portfolio-item mb-0" *ngFor="let item of caseblock">
                <img [src]="item.gridimg" [alt]="item.title">
                <div class="sigma_portfolio-item-content">
                    <div class="sigma_portfolio-item-content-inner">
                        <h5> <a routerLink="/case-studies/{{item.id}}"> {{item.title}} </a> </h5>
                        <p>{{item.shortdesc}}</p>
                    </div>
                    <a routerLink="/case-studies/{{item.id}}"><i class="fal fa-plus"></i></a>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>