<div class="section">
    <div class="container">
        <div class="section-title text-left">
            <h4 class="title">Another spectacular weekend with 3 matches played over the course of 2 days–two National Cup</h4>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="assets/img/about2.jpg" alt="img">
            </div>
            <div class="col-lg-6">
                <div class="mr-lg-30">
                    <div class="sigma_counter style-2 no-border">
                        <b class="counter" [countUp]="75">0</b>
                        <div class="sigma_counter-content">
                            <span>years</span>
                            <span>Working</span>
                            <span>Experience</span>
                        </div>
                    </div>
                    <p>Vball is a diverse, inclusive and multicultural volleyball club whose mission is to encourage and develop personal and team volleyball skills for all our members. This group commitment is reflected in court during games I am truly blessed to coach .</p>
                    <div class="sigma_icon-block icon-block-3 d-block" *ngFor="let item of blocks">
                        <div class="icon-wrapper mb-4">
                            <i [class]="item.icon"></i>
                        </div>
                        <div class="sigma_icon-block-content">
                            <h5> {{item.title}} </h5>
                            <p>{{item.text | slice:0:70}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>