$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?76f3103bf73a172e44188fec30b69429") format("truetype"),
url("./flaticon.woff?76f3103bf73a172e44188fec30b69429") format("woff"),
url("./flaticon.woff2?76f3103bf73a172e44188fec30b69429") format("woff2"),
url("./flaticon.eot?76f3103bf73a172e44188fec30b69429#iefix") format("embedded-opentype"),
url("./flaticon.svg?76f3103bf73a172e44188fec30b69429#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "appointment": "\f101",
    "award": "\f102",
    "beach-volleyball-1": "\f103",
    "beach-volleyball": "\f104",
    "competition": "\f105",
    "diamond": "\f106",
    "email": "\f107",
    "headphones": "\f108",
    "mail": "\f109",
    "message": "\f10a",
    "pay": "\f10b",
    "right-quote": "\f10c",
    "search": "\f10d",
    "security": "\f10e",
    "select": "\f10f",
    "shopping-bag": "\f110",
    "speed": "\f111",
    "target": "\f112",
    "telephone": "\f113",
    "trophy": "\f114",
    "volleyball-1": "\f115",
    "volleyball-2": "\f116",
    "volleyball-court": "\f117",
    "volleyball-player": "\f118",
    "volleyball": "\f119",
);

.flaticon-appointment:before {
    content: map-get($flaticon-map, "appointment");
}
.flaticon-award:before {
    content: map-get($flaticon-map, "award");
}
.flaticon-beach-volleyball-1:before {
    content: map-get($flaticon-map, "beach-volleyball-1");
}
.flaticon-beach-volleyball:before {
    content: map-get($flaticon-map, "beach-volleyball");
}
.flaticon-competition:before {
    content: map-get($flaticon-map, "competition");
}
.flaticon-diamond:before {
    content: map-get($flaticon-map, "diamond");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-headphones:before {
    content: map-get($flaticon-map, "headphones");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-pay:before {
    content: map-get($flaticon-map, "pay");
}
.flaticon-right-quote:before {
    content: map-get($flaticon-map, "right-quote");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-security:before {
    content: map-get($flaticon-map, "security");
}
.flaticon-select:before {
    content: map-get($flaticon-map, "select");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-speed:before {
    content: map-get($flaticon-map, "speed");
}
.flaticon-target:before {
    content: map-get($flaticon-map, "target");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-trophy:before {
    content: map-get($flaticon-map, "trophy");
}
.flaticon-volleyball-1:before {
    content: map-get($flaticon-map, "volleyball-1");
}
.flaticon-volleyball-2:before {
    content: map-get($flaticon-map, "volleyball-2");
}
.flaticon-volleyball-court:before {
    content: map-get($flaticon-map, "volleyball-court");
}
.flaticon-volleyball-player:before {
    content: map-get($flaticon-map, "volleyball-player");
}
.flaticon-volleyball:before {
    content: map-get($flaticon-map, "volleyball");
}
