<app-header></app-header>
<div class="container-fluid" style="background-color: #ffc700;">
<div class="container"  >
<h3>General Admission:</h3>
<p style="text-align: center;">Unlike other parks, our prices include access
    to the slides, ninja courses, trampolines, dodge ball court, rock
    climbing walls and free jump area. You won’t find a better value!</p>
</div>
<table  style="height: 256px;background-color: #ffc700;">
    <tbody>
        <tr>
            <th width="33%"></th>
            <th width="33%">
                <h2>1<sup>st</sup> <sub>Hour</sub></h2>
            </th>
            <th width="33%">
                <h2>2<sup>nd</sup> <sub>Hour</sub></h2>
            </th>
        </tr>
        <tr class="paddinglr">
            <td>Adults or Ages 6+</td>
            <td>$20.00</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr>
            </td>
        </tr>
        <tr class="paddinglr">
            <td>Ages 3-5</td>
            <td>$18.00</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr>
            </td>
        </tr>
        <tr class="paddinglr">
            <td>2 &amp; under<p></p>
                <hr>
            </td>
            <td>$3.00<p></p>
                <hr>
            </td>
            <td>$3.00<p></p>
                <hr>
            </td>
        </tr>
        <tr class="paddinglr">
            <td>Spectators</td>
            <td>$1.00</td>
            <td>$1.00</td>
        </tr>
    </tbody>
</table>


</div>
<div class="container main-content">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="inner-wrap">
                    <div class="row-bg using-bg-color" style="background-color: #ffc700; "></div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 dark left">
                <div><div class="vc_column-inner">
                        <div class="column-bg-overlay-wrap" data-bg-animation="none">
                            <div class="column-bg-overlay" style="opacity: 0.8; background-color: #ffc700;"></div>
                        </div>
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element  vc_custom_1640622561300">
                                <div class="wpb_wrapper">
                                    <h2></h2>
                                    <h2 style="text-align: center;">General Admission:</h2>
                                    <div class="wpb_text_column wpb_content_element vc_custom_1549481210515">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">Unlike other parks, our prices include access
                                                to the slides, ninja courses, trampolines, dodge ball court, rock
                                                climbing walls and free jump area. You won’t find a better value!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fws_62911ba895580" data-column-margin="default" data-midnight="dark"
            class="wpb_row vc_row-fluid vc_row full-width-section  " style="padding-top: 0px; padding-bottom: 0px; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap">
                    <div class="row-bg using-bg-color" style="background-color: #ffc700; "></div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 dark left">
                <div style=""
                    class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone instance-1"
                    data-using-bg="true" data-padding-pos="all" data-has-bg-color="true" data-bg-color="#ffc700"
                    data-bg-opacity="0.8" data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="column-bg-overlay-wrap" data-bg-animation="none">
                            <div class="column-bg-overlay" style="opacity: 0.8; background-color: #ffc700;"></div>
                        </div>
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1643758487414 animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <hr>
                                    <table class="table-hours-pricing" style="height: 256px;" width="420">
                                        <tbody>
                                            <tr>
                                                <th width="33%"></th>
                                                <th width="33%">
                                                    <h2>1<sup>st</sup> <sub>Hour</sub></h2>
                                                </th>
                                                <th width="33%">
                                                    <h2>2<sup>nd</sup> <sub>Hour</sub></h2>
                                                </th>
                                            </tr>
                                            <tr class="paddinglr">
                                                <td>Adults or Ages 6+</td>
                                                <td>$20.00</td>
                                                <td>$10.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr class="paddinglr">
                                                <td>Ages 3-5</td>
                                                <td>$18.00</td>
                                                <td>$10.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr class="paddinglr">
                                                <td>2 &amp; under<p></p>
                                                    <hr>
                                                </td>
                                                <td>$3.00<p></p>
                                                    <hr>
                                                </td>
                                                <td>$3.00<p></p>
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr class="paddinglr">
                                                <td>Spectators</td>
                                                <td>$1.00</td>
                                                <td>$1.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="text-align: center;"><b>Note:</b> Adults/Individuals who are staying to
                                        watch their kids or supervise are counted as spectators and must pay the
                                        spectator fee. Anybody who is inside the park needs to have a valid ticket and
                                        will be counted as part of the capacity. Toddles 2 &amp; under must have a
                                        parent with them who has purchased an adult ticket which is the Ages 6+ ticket.
                                        <strong>All purchases are final and non-refundable. Schedule can be altered only
                                            3 days prior to the reservation date.</strong><br> We apologize for the
                                        inconvenience and thank you for understanding during these challenging times.
                                    </p>
                                    <p style="text-align: center;"><a
                                            class="nectar-button n-sc-button large extra-color-3 regular-button"
                                            target="_blank" href="https://aerosportsoakville.pfestore.com/"
                                            data-color-override="false" data-hover-color-override="false"
                                            data-hover-text-color-override="#fff"
                                            style="visibility: visible;"><span>BOOK NOW</span></a></p>
                                </div>
                            </div>
                            <div class="divider-wrap" data-alignment="default">
                                <div style="height: 50px;" class="divider"></div>
                            </div>
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1640622376291 animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">No phone reservations available. Walk-ins always
                                        welcome but with COVID capacity limits we recommend <a
                                            href="http://aerosportsoakville.pfestore.com/areas/The_Park/Default.aspx"><span
                                                style="color: #ff0000;">booking online</span></a><span
                                            style="color: #ff0000;">.</span></p>
                                    <p style="text-align: center;">Prices shown are plus HST</p>
                                    <p style="text-align: center;"><a
                                            class="nectar-button n-sc-button large see-through"
                                            href="https://www.aerosportsbrampton.ca/oakville/park-features/"
                                            data-color-override="#1180b3" data-hover-color-override="false"
                                            data-hover-text-color-override="#fff"
                                            style="visibility: visible; color: rgb(17, 128, 179); border-color: rgba(17, 128, 179, 0.75);"><span>PARK
                                                FEATURES</span></a></p>
                                </div>
                            </div>
                            <div class="divider-wrap" data-alignment="default">
                                <div style="height: 50px;" class="divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jumppass" data-column-margin="default" data-midnight="light" data-bg-mobile-hidden="true"
            class="wpb_row vc_row-fluid vc_row full-width-section  background-size-unset"
            style="padding-top: 50px; padding-bottom: 50px; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap using-image">
                    <div class="row-bg using-image using-bg-color"
                        style="background-image: url(https://aerosportsbrampton.ca/oakville/wp-content/uploads/sites/2/2018/07/bg-hour-pricing-2.png); background-position: right top; background-repeat: no-repeat; background-color: #077FB2; ">
                    </div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 light left">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2>JUMP PASSES</h2>
                                    <p>Jump Passes are the best value! Buy in blocks of 5, 10 and 15 hours for amazing
                                        savings!</p>
                                </div>
                            </div>
                            <div id="fws_62911ba896758" data-midnight="" data-column-margin="default"
                                class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle "
                                style="padding-top: 50px; padding-bottom: 25px; ">
                                <div class="row-bg-wrap">
                                    <div class="row-bg"></div>
                                </div>
                                <div class="row_col_wrap_12_inner col span_12  center">
                                    <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone one-fourths clear-both triggered-animation animated-in"
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
                                        style="opacity: 1; transform: none;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <div class="divjumppass">
                                                            <h4>Rookie Pass</h4>
                                                            <p><span class="hours">5 hours</span><br> <b
                                                                    class="price"><sup>$</sup>80</b><br> <span
                                                                    class="promo">(Buy 4 Get 1 free)</span></p> <a
                                                                class="nectar-button n-sc-button large extra-color-3 regular-button"
                                                                target="_blank"
                                                                href="https://aerosportsoakville.pfestore.com/"
                                                                data-color-override="false"
                                                                data-hover-color-override="false"
                                                                data-hover-text-color-override="#fff"
                                                                style="visibility: visible;"><span>BUY NOW!</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone one-fourths right-edge triggered-animation animated-in"
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
                                        style="opacity: 1; transform: none;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <div class="divjumppass">
                                                            <h4>Pro Pass</h4>
                                                            <p><span class="hours">10 hours</span><br> <b
                                                                    class="price"><sup>$</sup>140</b><br> <span
                                                                    class="promo">(Buy 7 Get 3 free)</span></p> <a
                                                                class="nectar-button n-sc-button large extra-color-3 regular-button"
                                                                target="_blank"
                                                                href="https://aerosportsoakville.pfestore.com/"
                                                                data-color-override="false"
                                                                data-hover-color-override="false"
                                                                data-hover-text-color-override="#fff"
                                                                style="visibility: visible;"><span>BUY NOW!</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone one-fourths clear-both triggered-animation animated-in"
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
                                        style="opacity: 1; transform: none;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <div class="divjumppass">
                                                            <h4>Extreme Pass</h4>
                                                            <p><span class="hours">15 hours</span><br> <b
                                                                    class="price"><sup>$</sup>200</b><br> <span
                                                                    class="promo">(Buy 10 Get 5 free)</span></p> <a
                                                                class="nectar-button n-sc-button large extra-color-3 regular-button"
                                                                target="_blank"
                                                                href="https://aerosportsoakville.pfestore.com/"
                                                                data-color-override="false"
                                                                data-hover-color-override="false"
                                                                data-hover-text-color-override="#fff"
                                                                style="visibility: visible;"><span>BUY NOW!</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone one-fourths right-edge triggered-animation animated-in"
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
                                        style="opacity: 1; transform: none;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <div class="divjumppass last">
                                                            <h4>Toddler Pass</h4>
                                                            <p><span class="hours">10 hours</span><br> <b
                                                                    class="price"><sup>$</sup>112</b><br> <span
                                                                    class="promo">(Buy 7 Get 3 free)</span></p> <a
                                                                class="nectar-button n-sc-button large extra-color-3 regular-button"
                                                                target="_blank"
                                                                href="https://aerosportsoakville.pfestore.com/"
                                                                data-color-override="false"
                                                                data-hover-color-override="false"
                                                                data-hover-text-color-override="#fff"
                                                                style="visibility: visible;"><span>BUY NOW!</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <p>All jump passes are plus HST</p>
                                </div>
                            </div>
                            <div class="divider-wrap" data-alignment="default">
                                <div style="height: 50px;" class="divider"></div>
                            </div>
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;"><strong>Looking to save even more?</strong> <a
                                            href="https://www.aerosportsbrampton.ca/oakville/coupon-email-sign-up/">Sign
                                            up for our monthly coupons!</a></p>
                                </div>
                            </div>
                            <div id="couponpromos" data-midnight="" data-column-margin="default"
                                class="wpb_row vc_row-fluid vc_row inner_row  " style="">
                                <div class="row-bg-wrap">
                                    <div class="row-bg"></div>
                                </div>
                                <div class="row_col_wrap_12_inner col span_12  left">
                                    <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone "
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="" data-delay="0">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone "
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="" data-delay="0">
                                        <div class="vc_column-inner"><a class="column-link" target="_self"
                                                href="https://www.aerosportsbrampton.ca/oakville/coupon-email-sign-up/"></a>
                                            <div class="wpb_wrapper">
                                                <div
                                                    class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp animated wpb_start_animation">
                                                    <div class="wpb_wrapper">
                                                        <div class="img-text-block">
                                                            <div class="div-img"><a href="#"><img
                                                                        class="alignleft wp-image-44"
                                                                        src="https://www.aerosportsbrampton.ca/oakville/wp-content/uploads/sites/2/2018/06/icon-coupons-promos.png"
                                                                        alt="" width="64" height="64"></a></div>
                                                            <div class="div-text"><a href="#"><span
                                                                        class="heading-text heading-text-1 white">COUPONS</span><span
                                                                        class="heading-text heading-text-2 yellow">+PROMOS</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone "
                                        data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                                        data-bg-opacity="1" data-animation="" data-delay="0">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="socksaerogear" data-column-margin="default" data-midnight="light"
            class="wpb_row vc_row-fluid vc_row full-width-section  background-size-unset"
            style="padding-top: 50px; padding-bottom: 100px; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap using-image">
                    <div class="row-bg using-image using-bg-color"
                        style="background-image: url(https://aerosportsbrampton.ca/oakville/wp-content/uploads/sites/2/2018/07/bg-hour-pricing-3.png); background-position: center bottom; background-repeat: no-repeat; background-color: #cc3935; ">
                    </div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 light left">
                <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2>Socks</h2>
                                    <div class="col span_9" data-animation="" data-delay="0">Aerosports Grip Socks</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$3.50</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2>Aero Gear</h2>
                                    <div class="col span_9" data-animation="" data-delay="0">Hoodies</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$40.00</div>
                                    <div class="clear"></div>
                                    <hr>
                                    <div class="col span_9" data-animation="" data-delay="0">T-Shirts</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$10.00</div>
                                    <div class="clear"></div>
                                    <hr>
                                    <div class="col span_9" data-animation="" data-delay="0">Lanyards</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$10.00</div>
                                    <div class="clear"></div>
                                    <hr>
                                    <div class="col span_9" data-animation="" data-delay="0">Bracelets</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$2.50</div>
                                    <div class="clear"></div>
                                    <hr>
                                    <div class="col span_9" data-animation="" data-delay="0">Bounce Boards</div>
                                    <div class="col span_3 col_last" data-animation="" data-delay="0">$5.00 per hour
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="djnight" data-column-margin="default" data-midnight="light"
            class="wpb_row vc_row-fluid vc_row full-width-section  background-size-unset"
            style="padding-top: 50px; padding-bottom: 85px; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap using-image">
                    <div class="row-bg using-image using-bg-color"
                        style="background-image: url(https://aerosportsbrampton.ca/oakville/wp-content/uploads/sites/2/2020/07/bg-friday-night-jam-3.jpg); background-position: center bottom; background-repeat: no-repeat; background-color: #393939; ">
                    </div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 light left">
                <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-4-percent inherit_tablet inherit_phone "
                    data-padding-pos="left" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h2>FRIDAY NIGHT JAM<br> <span class="schedule">EVERY FRIDAY 6PM-8PM</span></h2>
                                    <p><strong class="yellow">Glow lights, pumping tunes &amp; 2 hours of
                                            jumping/features for only $25.00 + HST</strong></p>
                                    <hr>
                                    <p>Prizing / Giveaways throughout the night</p>
                                    <hr>
                                    <p>Groupons/ Jump Passes / Coupons are not valid</p>
                                    <hr>
                                    <p>Arrive 15min before for check-in<br></p>
                                    <div class="divider-wrap" data-alignment="default">
                                        <div style="height: 10px;" class="divider"></div>
                                    </div><br> <a class="nectar-button n-sc-button large see-through" target="_blank"
                                        href="https://aerosportsoakville.pfestore.com/retail/djnight/Default.aspx"
                                        data-color-override="#ffc700" data-hover-color-override="false"
                                        data-hover-text-color-override="#fff"
                                        style="visibility: visible; color: rgb(255, 199, 0); border-color: rgba(255, 199, 0, 0.75);"><span>BUY
                                            TICKETS</span></a>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="important" data-column-margin="default" data-midnight="dark"
            class="wpb_row vc_row-fluid vc_row full-width-section  background-size-unset" data-using-ctc="true"
            style="padding-top: 75px; padding-bottom: 150px; color: #000000; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap using-image">
                    <div class="row-bg using-image using-bg-color"
                        style="background-image: url(https://aerosportsbrampton.ca/oakville/wp-content/uploads/sites/2/2018/07/bg-hour-pricing-5.png); background-position: right bottom; background-repeat: no-repeat; background-color: #ffc800; ">
                    </div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 custom left">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div
                                class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp animated wpb_start_animation">
                                <div class="wpb_wrapper">
                                    <h5>VERY IMPORTANT:</h5>
                                    <p>All jumpers must have a completed liability waiver on file in order to jump.
                                        Anyone under the age of 18 must have the waiver signed by a parent or legal
                                        guardian. Anyone 18 or older can sign for themselves with a valid photo ID (must
                                        have picture and date of birth). Fill out the <a style="color: #077fb2;"
                                            href="https://aerosportsoakville.pfestore.com/waiver/">waiver</a> online
                                        prior to arriving (call to confirm proper completion) or come in and fill it out
                                        on site.</p>
                                    <h5>PARENTS</h5>
                                    <p>Parents feel free to come in and relax in one of our many lounge areas. We have
                                        several areas to use while your kids jump around and burn off energy. Enjoy
                                        access to free Wifi lounge or just enjoy a snack at the snack shack and relax in
                                        one of the many sofas that are spread out through the facility!Note that there
                                        is a spectator charge of $1 per hour for spectators.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fws_62911ba89822f" data-column-margin="default" data-midnight="dark"
            class="wpb_row vc_row-fluid vc_row  " style="padding-top: 0px; padding-bottom: 0px; ">
            <div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
                <div class="inner-wrap">
                    <div class="row-bg" style=""></div>
                </div>
            </div>
            <div class="row_col_wrap_12 col span_12 dark left">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "
                    data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1"
                    data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer [layout]="footerStyle"></app-footer>